################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RemoteDba/RemoteDba.Terminal/bin/Debug/netcoreapp2.0
